/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilos para el encabezado */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 2em;
}

header img {
  max-width: 100%;
  height: auto;
}

/* Estilos para la barra de navegación */
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 90%;
  margin-bottom: 2em;
}

nav a {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1 1 auto;
}

/* Estilos para el contenido principal */
main {
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

/* Estilos para el pie de página */
footer > p{
  background-color: gray;
  color: black;
  width: 90%;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}

/* Media queries para diferentes tamaños de pantalla */
@media screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
  nav {
    flex-direction: column;
  }
}
