/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px; /* Tamaño de fuente legible */
}

/* Estilos para el encabezado */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
  background-color: rgb(94, 188, 192); /* Color de fondo para el encabezado */
}

header img {
  width: 100%;
  height: auto;
}

/* Estilos para la barra de navegación */
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 90%;
  margin: 1em auto;
}

nav a {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1 1 auto;
}

/* Estilos para el contenido y el pie de página */
.markdown-content, .markdown-contenido, footer {
  background-color: white;
  color: black;
  max-width: 85%;
  text-align: left;
  line-height: 1.6;
  margin: 2em auto;
  padding: 1em;
  border: solid 10px gray;
  height: auto;
}

footer {
  background-color: black;
  color: white;
  padding: 1em;
  line-height: 1.6;
}

/* Media queries para diferentes tamaños de pantalla */
@media screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }

  nav {
    flex-direction: column;
  }
}
