/* audio.css */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

header audio {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 90%;
  margin: 2em auto;
}

nav a {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1 1 auto;
  
}
/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos del formulario */
  width: 90%;
  margin: 2em auto;
  box-sizing: border-box;
}

form input[type="text"], form input[type="email"], form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #0c0000;
  border-radius: 5px;
  background-color: lightgray;
  width: 90%; /* Asegura que los campos del formulario ocupen el 90% del ancho disponible */
  box-sizing: border-box;
}

/* Estilos para el botón de envío del formulario */
form input[type="submit"] {
  cursor: pointer;
  background-color: blue;
  border: 1px solid #0c0000;
  color: white;
  padding: 10px;
  text-align: center; /* Centra el texto del botón */
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  width: 90%; /* Asegura que el botón de envío ocupe el 90% del ancho disponible */
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para el pie de página */
footer {
  background-color: grey;
  color: black;
  border-radius: 5px;
  width: 80%; /* Asegura que el pie de página tenga el mismo ancho que la barra de navegación */
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  box-sizing: border-box;
}

/* Media queries para diferentes tamaños de pantalla */
@media screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
  nav {
    flex-direction: column;
  }
}
